/* CSS de la structure */
.container {
    display: flex;
}

.left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoPreview {
    display: inline-block;
    padding: 10px;
    background-color: white; 
    border: 1px solid #ccc;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.preview-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.preview-subtext {
    font-size: 18px;
    color: #666;
    margin-top: 5px;
}

#displayImage {
    margin-top: 10px;
    max-width: 100%; 
}


.logo-code-output {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;   
    word-wrap: break-word;   
    margin-top: 10px;
    width: 100%;             
    max-width: 600px;        
    overflow-x: auto;        
    overflow-y: hidden;      
    display: block;
}


.logo-code-output.visible {
    opacity: 1;
}

