.image-upload {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#imagePreview {
    max-width: 100%;
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 5px; /* Espace au-dessus du champ d'entrée */
}
